*{
    font-family: sans-serif;
}
body{
    overflow: auto;
    padding-top: 70px;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    height: 100%;
}
form{
	padding-top: 10px;
	font-size: 13px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 13px;
}

.login-form{ 
	width:320px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
}

.submit-btn{
	margin-top:20px;
}