    <div style="padding:0 15px;width:85%;">
        <div style="border-bottom:1px solid #c3c3c3;overflow:auto;">
            <h2 style="margin:12px 0">Change password</h2>
        </div>
        <div style="margin:20px 0;">
            <div>
                <form onsubmit="return CheckPassword(event.target)" action="/changepassword" method="post">
                    {% csrf_token %}
                    <div class="element">
                        <p>Old password</p>
                        <input name="old" type="password" >
                        <small class="error0" style="color:red;display:none">This field is required</small>
                        {% if invalidpass %}
                            <small style="color:red;display:block">Incorrect old password</small>
                        {% endif %}
                    </div>
                    <div class="element">
                        <p>New password</p>
                        <input name="new1" type="password" >
                        <small class="error11" style="color:red;display:none">This field is required</small>
                        <small class="error1" style="color:red;display:none">Invalid format of password</small>
                    </div>
                    <div class="element">
                        <p>Confirm password</p>
                        <input name="new2" type="password" >
                        <small class="error22" style="color:red;display:none">This field is required</small>
                        <small class="error2" style="color:red;display:none">Passwords don't match</small>
                    </div>
                    <ul style="line-height: 35px;font-size: 15px;margin: 0;padding: 0 15px;">
                        <li>Password should be of at least 8 characters</li>
                        <li>Password should have at least 1 small case letter</li>
                        <li>Password should have at least 1 upper case letter</li>
                        <li>Password should have at least 1 digit</li>
                        <li>Password should have at least 1 special character</li>
                    </ul>
                    <button type="submit">Update password</button>
                </form>
            </div>
        </div>
    </div>

    </div>
    <script type="text/javascript">
        function CheckPassword(e) {
            let proceed=true;
            let inputtxt=e[2].value.trim()
            let inputtxt2=e[3].value.trim()
            let passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
            document.querySelector(".error0").style.display="none"
            document.querySelector(".error1").style.display="none"
            document.querySelector(".error11").style.display="none"
            document.querySelector(".error2").style.display="none"
            document.querySelector(".error22").style.display="none"
            if(e[1].value.trim().length==0){
                document.querySelector(".error0").style.display="block"
                proceed=false;
            }
            if(e[2].value.trim().length==0){
                document.querySelector(".error11").style.display="block"
                proceed=false;
            }
            if(e[3].value.trim().length==0){
                document.querySelector(".error22").style.display="block"
                proceed=false;
            }
            if(!proceed){
                return false;
            }
            if(!inputtxt.match(passw) || inputtxt!=inputtxt2)
            {
                proceed=false;
                if(!inputtxt.match(passw)){
                    document.querySelector(".error1").style.display="block"
                }
                if(inputtxt!=inputtxt2){
                    document.querySelector(".error2").style.display="block"
                }
            }
            return proceed;
        }
    </script>