{% extends 'base.html' %}
{% block styles %}
{{block.super}}
<style>
        html,body{
            height: 100%;
            box-sizing: border-box;
        }
        a{
            text-decoration:none;color:black
        }
        a:hover{
            color:blue
        }
        button{
            background-color: #00A5EC;
            color: white;
            border: 0;
            border-radius: 0.2em;
            padding: 8px 15px;
            font-size: 14px
        }
    </style>
{% endblock %}
{% block content %}
    <div style="text-align:center;overflow:auto;margin:20px auto">
        <h2 style="font-size:40px;margin:10px">{{course.name|title}}</h2>
    </div>
    <div>
    <div style="overflow:auto;text-align:center">
        <p style="margin:20px;font-size:25px">Progress Report</p>
    </div>
    <div style="margin:auto;width:30%;padding:5px;position: relative;">
        <div style="position:absolute;left:20px;background-color:gray;width: 2px;top: 35px;bottom: 35px;z-index:-1"></div>
        {% for i,j in modules.items %}
            {% ifequal j.status 3 %}
            <div style="cursor:no-drop;padding:10px;font-size:20px;box-shadow:0 0 4px 0 black;border-radius:0.2em;display:flex;margin:30px 0;background: white;align-items:center">
                <img style="width:25px;margin:0 5px" src="https://img.icons8.com/ios/50/000000/lock--v1.png"/>
                <p>{{i|title}}</p>
            </div>
            {% else %}
            <div style="padding:10px;font-size:20px;box-shadow:0 0 4px 0 black;border-radius:0.2em;display:flex;margin:30px 0;background: white;align-items:center">
                {% ifequal j.status 2 %}
                    <img style="width:25px;margin:0 5px" src="/static/images/alert.svg" alt="">
                    {% else %}
                    <img style="width:25px;margin:0 5px" src="/static/images/check.svg"/>
                {% endifequal %}
                   <p><a href="/lectures?mid={{j.id}}">{{i|title}}</a></p>
            </div>
            {% endifequal %}
        {% endfor %}
        <div style="padding:20px 10px;font-size:20px;box-shadow:0 0 4px 0 black;border-radius:0.2em;margin:30px 0;background: white;">
            <div style="display:flex;align-items:center">
                <img src="/static/images/certificate.svg" alt="">
                <p style="font-size:24px;margin:10px 0">Certificate</p>
            </div>
            <div style="overflow:auto;margin:10px 0">
                <p style="margin:5px;font-size:17px">Certificate of completion</p>
                <p style="margin:5px;font-size:17px">Eligibility:- Minimum 70% marks in each assignment</p>
            </div>
            {% if eligible %}
            <div style="overflow:auto;text-align:right">
                   <p style="font-size:18px"><a style="color:blue" href="/requestcertificate?cid={{course.id}}">Request for certification</a></p>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}