{% extends 'base.html' %}
{% block content %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Introducing india's first bug bounty learning platform</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Where hackers Learn and Earn.
                </h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="/courses"
                            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Started</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="/static/assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Our Values</h2>
                <p>Our standard core values define who we are.</p>
            </header>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="/static/assets/img/values-1.png" class="img-fluid" alt="">
                        <h3>Hire and Develop the Best</h3>
                        <p>
                            Hiring the right people, ones who can do the job exceptionally well but who're also
                            interested in growing, and then helping them learn
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <img src="/static/assets/img/values-2.png" class="img-fluid" alt="">
                        <h3>We value ideas over hierarchy</h3>
                        <p>
                            We believe that the best ideas can come from anywhere, both inside and outside our company.
                            Our job is to seek out those ideas,and to take them from concept to action.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box">
                        <img src="/static/assets/img/values-3.png" class="img-fluid" alt="">
                        <h3>Insist on the Highest Standards</h3>
                        <p>
                            Having high standards means you make exceptionally high demands of yourself and the products
                            and services you work on.
                        </p>
                    </div>
                </div>

            </div>

        </div>

        </section>
            <!-- End Values Section -->

            <!-- ======= Counts Section ======= -->
             <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="108" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="154" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1060" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
        <!--=======End Counts Section======= -->

            <!--======= Features Section ======= -->
            <section id="features" class="features">

                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h2>Features</h2>
                        <p>Think Big, Design Smart And Develop Secure</p>
                    </header>

                    <div class="row">

                        <div class="col-lg-6">
                            <img src="/static/assets/img/features.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                            <div class="row align-self-center gy-4">

                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Secure Development</h3>
                                    </div>
                                </div>

                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Cyber Risk Reports</h3>
                                    </div>
                                </div>

                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Responsive UI</h3>
                                    </div>
                                </div>

                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Inovative Structure</h3>
                                    </div>
                                </div>

                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Smart Deployment</h3>
                                    </div>
                                </div>

                                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                                    <div class="feature-box d-flex align-items-center">
                                        <i class="bi bi-check"></i>
                                        <h3>Creative Content</h3>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> <!-- / row -->

                    <!-- Feature Icons -->
                    <div class="row feature-icons" data-aos="fade-up">
                        <h3>All-in-One App Marketing Intelligence Platform</h3>

                        <div class="row">

                            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                                <img src="/static/assets/img/features-3.png" class="img-fluid p-4" alt="">
                            </div>

                            <div class="col-xl-8 d-flex content">
                                <div class="row align-self-center gy-4">

                                    <div class="col-md-6 icon-box" data-aos="fade-up">
                                        <i class="ri-line-chart-line"></i>
                                        <div>
                                            <h4>Market Intelligence</h4>
                                            <p>Follow the trends in app markets with reliable download and revenue estimates for 5M+ apps to make better decisions.</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                        <i class="ri-stack-line"></i>
                                        <div>
                                            <h4>ASO Intelligence</h4>
                                            <p>Unlock the data covering 3M+ keywords and all essential ASO tools to provide your app with higher visibility.</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                        <i class="ri-brush-4-line"></i>
                                        <div>
                                            <h4>Ad Intelligence</h4>
                                            <p>Reach 19M+ ad creatives and 17+ ad networks of thousands of apps to fine-tune your user acquisition strategy.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                        <i class="ri-magic-line"></i>
                                        <div>
                                            <h4>SDK Intelligence</h4>
                                            <p>View 2.4M Apps with SDK Data and filter over 2K SDK technologies used by every app to get the most updated insights.</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                        <i class="ri-command-line"></i>
                                        <div>
                                            <h4>App Intelligence</h4>
                                            <p>Discover your app’s and the competitors’ visibility scores to understand your stance in the market.</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                        <i class="ri-radar-line"></i>
                                        <div>
                                            <h4>Category Rankings</h4>
                                            <p>Analyze your app’s category ranking changes in different storefronts for the date you choose.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div><!-- End Feature Icons -->

                </div>

            </section>
            <!-- <section id="pricing" class="pricing">
                <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <h2>Pricing</h2>
                        <p>Check our Pricing</p>
                    </header>

                    <div class="row gy-4" data-aos="fade-left">

                        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="box">
                                <h3 style="color: #07d5c0;">Free Plan</h3>
                                <div class="price"><sup>$</sup>0<span> / mo</span></div>
                                <img src="/static/assets/img/pricing-free.png" class="img-fluid" alt="">
                                <ul>
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li class="na">Pharetra massa</li>
                                    <li class="na">Massa ultricies mi</li>
                                </ul>
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                            <div class="box">
                                <span class="featured">Featured</span>
                                <h3 style="color: #65c600;">Starter Plan</h3>
                                <div class="price"><sup>$</sup>19<span> / mo</span></div>
                                <img src="/static/assets/img/pricing-starter.png" class="img-fluid" alt="">
                                <ul>
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li class="na">Massa ultricies mi</li>
                                </ul>
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                            <div class="box">
                                <h3 style="color: #ff901c;">Business Plan</h3>
                                <div class="price"><sup>$</sup>29<span> / mo</span></div>
                                <img src="/static/assets/img/pricing-business.png" class="img-fluid" alt="">
                                <ul>
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li>Massa ultricies mi</li>
                                </ul>
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                            <div class="box">
                                <h3 style="color: #ff0071;">Ultimate Plan</h3>
                                <div class="price"><sup>$</sup>49<span> / mo</span></div>
                                <img src="/static/assets/img/pricing-ultimate.png" class="img-fluid" alt="">
                                <ul>
                                    <li>Aida dere</li>
                                    <li>Nec feugiat nisl</li>
                                    <li>Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li>Massa ultricies mi</li>
                                </ul>
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>

                    </div>

                </div>

            </section> -->
            <!-- <section id="faq" class="faq">

                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h2>F.A.Q</h2>
                        <p>Frequently Asked Questions</p>
                    </header>

                    <div class="row">
                        <div class="col-lg-6"> -->
                            <!-- F.A.Q List 1-->
                            <!-- <div class="accordion accordion-flush" id="faqlist1">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                            consectetur a erat nam at lectus urna duis?
                                        </button>
                                    </h2>
                                    <div id="faq-content-1" class="accordion-collapse collapse"
                                        data-bs-parent="#faqlist1">
                                        <div class="accordion-body">
                                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
                                            laoreet
                                            non curabitur
                                            gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus
                                            non.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                            Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                                        </button>
                                    </h2>
                                    <div id="faq-content-2" class="accordion-collapse collapse"
                                        data-bs-parent="#faqlist1">
                                        <div class="accordion-body">
                                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                                            interdum
                                            velit laoreet id
                                            donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec
                                            pretium. Est
                                            pellentesque
                                            elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                                            tincidunt
                                            dui.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                                        </button>
                                    </h2>
                                    <div id="faq-content-3" class="accordion-collapse collapse"
                                        data-bs-parent="#faqlist1">
                                        <div class="accordion-body">
                                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.
                                            Faucibus
                                            pulvinar
                                            elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit.
                                            Rutrum
                                            tellus pellentesque
                                            eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at
                                            elementum eu facilisis
                                            sed odio morbi quis
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6"> -->

                            <!-- F.A.Q List 2-->
                            <!--div class="accordion accordion-flush" id="faqlist2">

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                                            Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                                        </button>
                                    </h2>
                                    <div id="faq2-content-1" class="accordion-collapse collapse"
                                        data-bs-parent="#faqlist2">
                                        <div class="accordion-body">
                                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                                            interdum
                                            velit laoreet id
                                            donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec
                                            pretium. Est
                                            pellentesque
                                            elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                                            tincidunt
                                            dui.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                                            Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                                        </button>
                                    </h2>
                                    <div id="faq2-content-2" class="accordion-collapse collapse"
                                        data-bs-parent="#faqlist2">
                                        <div class="accordion-body">
                                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim
                                            suspendisse in
                                            est ante in.
                                            Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit
                                            adipiscing
                                            bibendum est.
                                            Purus gravida quis blandit turpis cursus in
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                                            Varius vel pharetra vel turpis nunc eget lorem dolor?
                                        </button>
                                    </h2>
                                    <div id="faq2-content-3" class="accordion-collapse collapse"
                                        data-bs-parent="#faqlist2">
                                        <div class="accordion-body">
                                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae
                                            ultricies leo
                                            integer malesuada
                                            nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget
                                            lorem dolor
                                            sed. Ut
                                            venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam
                                            volutpat
                                            commodo sed egestas
                                            egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit
                                            massa
                                            enim nec.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div-->



               <!-- <section id="team" class="team">
                    <div class="container" data-aos="fade-up">
                        <header class="section-header">
                            <h2>Team</h2>
                            <p>Our hard working team</p>
                        </header>

                        <div class="row gy-4">

                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up"
                                data-aos-delay="100">
                                <div class="member">
                                    <div class="member-img">
                                        <img src="/static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>Walter White</h4>
                                        <span>Chief Executive Officer</span>
                                        <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa
                                            quae aut.
                                            Ipsum
                                            exercitationem iure minima enim corporis et voluptate.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up"
                                data-aos-delay="200">
                                <div class="member">
                                    <div class="member-img">
                                        <img src="/static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>Sarah Jhonson</h4>
                                        <span>Product Manager</span>
                                        <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil
                                            minima
                                            suscipit
                                            corporis.
                                            Voluptate sed quas reiciendis animi neque sapiente.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up"
                                data-aos-delay="300">
                                <div class="member">
                                    <div class="member-img">
                                        <img src="/static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>William Anderson</h4>
                                        <span>CTO</span>
                                        <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae
                                            deserunt.
                                            Voluptates
                                            enim aut
                                            architecto porro aspernatur molestiae modi.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up"
                                data-aos-delay="400">
                                <div class="member">
                                    <div class="member-img">
                                        <img src="/static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>Amanda Jepson</h4>
                                        <span>Accountant</span>
                                        <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia
                                            aut
                                            aliquid
                                            doloremque
                                            ut possimus ipsum officia.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> -->

                </section>
                <section id="contact" class="contact">
                    <div class="container" data-aos="fade-up">
                        <header class="section-header">
                            <h2>Contact</h2>
                            <p>Contact Us</p>
                        </header>
                        <div class="row gy-4">

                            <div class="col-lg-6">

                                <div class="row gy-4">
                                    <div class="col-md-6">
                                        <div class="info-box">
                                            <i class="bi bi-geo-alt"></i>
                                            <h3>Address</h3>
                                            <p>
                                                #1636/16,First Floor <br>
                                                Sham Nagar,Sector-16<br>
                                                Karnal,132001 HR <br><br></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info-box">
                                            <i class="bi bi-telephone"></i>
                                            <h3>Call Us</h3>
                                            <p>+91 85580 28559<br>+91 70093 94709</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info-box">
                                            <i class="bi bi-envelope"></i>
                                            <h3>Email Us</h3>
                                            <p>info@darkcybersecurities.com<br>contact@darkcybersecurities.com</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info-box">
                                            <i class="bi bi-clock"></i>
                                            <h3>Open Hours</h3>
                                            <p>Monday - Saturday<br>9:00AM - 09:00PM</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <form action="/addquery" method="post" class="php-email-form">
                                    <div class="row gy-4">
                                        {% csrf_token %}
                                        <div class="col-md-6">
                                            <input type="text" name="name" class="form-control" placeholder="Your Name"
                                                required>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="text" class="form-control" name="company"
                                                placeholder="Organization">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" name="email" class="form-control"
                                                placeholder="Your Email" required>
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="tel" maxlength="10" class="form-control" name="phone"
                                                placeholder="Phone Number" required>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="subject" placeholder="Subject"
                                                required>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                                required></textarea>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <div class="loading">Loading</div>
                                            <div class="error-message"></div>
                                            <div class="sent-message">Your request has been submitted.Thank you!</div>

                                            <button type="submit">Send Message</button>
                                        </div>

                                    </div>
                                </form>

                            </div>

                        </div>

                    </div>

                </section>
                <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                        class="bi bi-arrow-up-short"></i></a>
                {% endblock content %}